<%= link_to({ station_id: model.id }, class: 'media') do %>
  <div class="media-left">
    <span><%= model.name %></span>
  </div>
  <div class="media-content">
    <span class="text-grey text-weight-normal"><%= model.area.full_name %></span>
  </div>
  <div class="media-right">
    <%= svg_tag 'chevron-right' %>
  </div>
<% end %>
